<div class="four columns">
	&nbsp;
</div>
<div class="four columns">
	<div class="panel">
		<h2><center>Resend confirmation instructions</center></h2>

		<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div>
		  	<%= f.label :email %><br />
		  	<%= f.email_field :email %>
		  </div>

		  <div>
		  	<center>
		  		<%= f.submit "Resend confirmation instructions", :class => "button" %>
		  	</center>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>
<div class="four columns">
	&nbsp;
</div>