<div class="four columns">
	&nbsp;
</div>
<div class="four columns">
	<div class="panel">
		<h2><center>Change your password</center></h2>

		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %>
		  <%= f.hidden_field :reset_password_token %>

		  <div>
		  	<%= f.label :password, "New password" %><br />
		  	<%= f.password_field :password %>
		  </div>

		  <div>
		  	<%= f.label :password_confirmation, "Confirm new password" %><br />
		  	<%= f.password_field :password_confirmation %>
		  </div>

		  <div>
		  	<center>
		  		<%= f.submit "Change my password", :class => "button" %>
		  	</center>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>
<div class="four columns">
	&nbsp;
</div>