<div class="twelve columns">
	<div class="four columns">
		<% if current_user.nil? %>
			<%= link_to 'Sign in', new_user_session_path %>
			<%= link_to 'Sign up', new_user_registration_path %>
		<% else %>
			<% if current_user.role? :admin %>
				<%= link_to 'Admin Panel', rails_admin_path %>
			<% end %>
			<%= link_to 'Profile', profiles_path %>
			<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
		<% end %>
	</div>
</div>