<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | WebGeekDevCup</title>
  <%= stylesheet_link_tag    "reset", "foundation", "custom", "media"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="row">
			<%=	render 'layouts/header' %>
		</div>
	</header>
	<div class="row">
		<%= render 'layouts/messages' %>
	</div>
	<div class="row">
		<div class="twelve columns">
			<%= yield %>
		</div>
	</div>
	<footer>
		<div class="row">
			<%= render 'layouts/footer' %>
		</div>
	</footer>
</body>
</html>
